In [1]:
import numpy as np
import pandas as pd
import http://localhost:8889/notebooks/ds-sf-29/lessons/lesson-03/code/Untitled1.ipynb?kernel_name=python2#matplotlib.pyplot as plt
import scipy sp
%matplotlib inline

data = {'veggie':[4],'nonveg':[9]}

In [2]:
df= pd.DataFrame(data)

In [3]:
df

   nonveg  veggie
0       9       4

In [5]:
data1 = {'cat':['Veggie','Nonveggie'],'cnt':[4,9]}

In [6]:
df1= pd.DataFrame(data1)

In [7]:
df1

         cat  cnt
0     Veggie    4
1  Nonveggie    9

In [10]:
df1.describe()

            cnt
count  2.000000
mean   6.500000
std    3.535534
min    4.000000
25%    5.250000
50%    6.500000
75%    7.750000
max    9.000000

In [11]:
df1.var()

cnt    12.5
dtype: float64

In [22]:
data2 = {'cnt':[1,1,1,1,0,0,0,0,0,0,0,0,0]}

In [23]:
df2= pd.DataFrame(data2)

In [24]:
df2

    cnt
0     1
1     1
2     1
3     1
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0

In [25]:
df2.mean()

cnt    0.307692
dtype: float64

In [26]:
df2.describe()

             cnt
count  13.000000
mean    0.307692
std     0.480384
min     0.000000
25%     0.000000
50%     0.000000
75%     1.000000
max     1.000000

In [28]:
from scipy import stats
stats.ttest_1samp(df2['cnt'],0.17)

Ttest_1sampResult(statistic=1.0334569818494301, pvalue=0.32176906413037798)

Beacuse the question was 17% are veggietarians so we put 1's for veggietarians. bacause the have p value as 0.32(los probability) , We do not have enough 

mean = 4/13= 0.3

S = (4(1-0.3)raise2+9(0-0.3)raise2)/12 =

In [30]:
data3 = {'cnt':[5,1,3,3,1,3,3,2,4,3,4,2,3]}

In [33]:
df3= pd.DataFrame(data2)

In [35]:
df3.var()

cnt    1.307692
dtype: float64